h1,h2 {
    color:ivory

}
#bear {
    position: absolute;
    left: 100px;
    /*top: 240px;*/
    width: 100px;
    height: 160px
}

#board {
    position: absolute;
    height: 700px;
    width: 1503px;
    background-color: rgb(6, 136, 119);
    align-content: center;
    align-self: center;
}

#title {
    background-color: rgb(228, 81, 23);
    align-content: center;
    align-self: center;
    height:250px;
}

#scores {
    background-color: rgb(216, 238, 20);
    align-content: center;
    align-self: center;
    height:100px;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
    
}
